@model FSMotorsShowroom.Models.Investment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Investment</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintananceCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintananceCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowroomCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowroomCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoldDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoldDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investor.InvestorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvestmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
