@model IEnumerable<FSMotorsShowroom.Models.CarModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<!-- Add these links to your HTML head section -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<h4>Create Car Model</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="carmodelTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarModelName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarModelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarModelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarModelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#carmodelTable').DataTable();
    });
</script>