@model FSMotorsShowroom.Models.WorkShop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h4>WorkShop Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkshopLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkshopLocation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkShopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
