@model FSMotorsShowroom.Models.Application

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.higEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.higEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Career)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Career.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
